<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61341727646-pn39mof2vojevl7f8j1tjeunvhollb3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61341727646-pn39mof2vojevl7f8j1tjeunvhollb3g</string>
	<key>API_KEY</key>
	<string>AIzaSyB-8bN8Ea7H7dYyIWpKEv6boV9UQWwbAkg</string>
	<key>GCM_SENDER_ID</key>
	<string>61341727646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WeekendApps.WavesApp</string>
	<key>PROJECT_ID</key>
	<string>waves-6c548</string>
	<key>STORAGE_BUCKET</key>
	<string>waves-6c548.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61341727646:ios:30a2f6dd62a918c0</string>
	<key>DATABASE_URL</key>
	<string>https://waves-6c548.firebaseio.com</string>
</dict>
</plist>